[package]
name = "bicycle-api-macros"
version = "0.1.0"
edition.workspace = true
license.workspace = true
description = "Procedural macros for Bicycle streaming API"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full", "parsing"] }
